*.mod
*.a
*.o
*.so
*.sm
*~*
.metadata
.project
.pydevproject
x64/
Debug/
Debuglib/
Release/
Releaselib/
WinDLL/
*.suo
*.d
*.bat
*.pyc
*.asv
*.u2d
*.user
*.save
*.log
.idea
.DS_Store
*egg*
test*dat
core
build
testfiles
inspectionProfiles
fortran/camb
fortran/DebugMPI
fortran/ReleaseMPI/
Advisor/
Inspector/
.ipynb_checkpoints
camb/HighLExtrapTemplate_lenspotentialCls.dat
